/* styles.css */
.static-box {
    position: static;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

.relative-box {
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}


.absolute-box {
    position: absolute;
    top: 180px;
    left: 100px;
    border: 1px solid #000;
    padding: 10px;
}